/*This container includes our table and our canvas.*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
--orangeColor: #e8b43b;
}
body {
  background: rgb(61, 99, 218);
  background: radial-gradient(
    circle, 
    rgb(18, 230, 245) 0%,
    rgb(6, 236, 133) 55%,
    rgb(237, 160, 16) 100%
  );  
  overflow-x: hidden;
}

#clearGame {
  width:120px;
  height: 30px;
  border-radius: 2px;
  background-color: #e8b43b;
}


a {
  text-decoration: none;
  color:#fff;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.fullContainer {
  float: right;
  flex-direction: column;
  
  
}

#playerName {
  float: left;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.center-container h1 {
  font-size: 3.5rem;
  color:#fff;
}

#board { 
  width:408px;
  height:408px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  position:relative;
}

.box {
  height: 120px;
  width: 120px;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkColor);
  background-color: var(--orangeColor);
  font-weight: 500;
  font-size: 4.5rem;
  margin: 0.2rem 0.5rem;
  box-shadow: 2px, 5px, 5px, 2px;
  border-radius: 5px;

}

.popup {
  position:absolute;
  width:300px;
  height:300px;
  background: linear-gradient(to bottom right, rgb(0, 145, 255), yellow);
  border-radius: 4px;
  box-shadow: 2px, 5px, 5px, 2px;
}

.popup div {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  z-index: 1000;
}

.modalbox p {
  font-size: 2rem;
}

h1 {
  text-align: center;
  padding-top: 20px;

}


canvas {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  
}
/*contains the info who's turn it is*/
#game_Instructions_Info{
  margin-top: 30px;
  text-align: center;
  text-decoration: underline;
}

#game_Instructions {
  display :flex;
  flex-direction: row;
  justify-content: space-around; 


}
/*Clear game button*/
#restart {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  
}

#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color:#c78e09;
  color: #ffffff;
  border-radius: 2px;
  border: none;
  margin-top: -50px;
 
}

#restart-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
  margin-top: -50px;
}

/*info holder who wins*/
#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  margin-top: -190px;
}
/*popup message hidden*/
.popup.hide {
  display: none;
}
/*-------------------------Pop-up Message ------------------*/




.popup2 p {
  font-size: 20px;
  text-align:left;
  margin-left: 20px;
  
}


#closePop
{

  display: block;
    width:150px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color:#d161ff;
    color:#fff;
    text-decoration: none;
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
   visibility: hidden;
}

#closePop:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#pop2Msg {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  
  margin-top: -80px;
  
}



label {
  display: none;
}

#firstPlayerName{
 
  width:150px;
  height: 20px;
  border-radius: 5px;
}

#userSaveBtn {
  
  height: 25px;
  border-radius: 5px;
}

.formDetails {
  height: 250px;
}
.choose:active {
  transform: translateY(2px);
  border-radius: 2px;
}
#greeting {
  padding-top: 15px;
}



#greeting, #welcomeGreeting {
 text-align: center;
  margin-left: 20px;
  margin-top: 40px;
}

#new-game {
  margin-top: 80px;
  margin-bottom: 10px;
}

#message {
  margin-top: 30px;
}

#closePop {
  margin-top: 45px;
}


#playerInfo {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap:20px;
    justify-content: center;
    margin-top:-20px ;
    padding-bottom: 30px;
   
 
}



.popup2 {
  background: linear-gradient(to bottom right, rgb(0, 145, 255), yellow);
  background-color: #8052ec;
  width: 600px;
  height: 800px;
  padding: 150px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 100; /* Sit on top */
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  /* overflow: auto; Enable scroll if needed */
  display: flex;
  border: 1px solid #888;
} 
@media (max-width: 500px) {
  .popup2 {
      margin-top: 100px;
      width: 350px;
      height:600px;
  }

  .popup {
    width:300px;

  }

  #popupBox {
    margin-top: -150px;
  }

  #playerboard{
    margin-bottom: 0px;
  }

  #board, canvas { 
    width:400px;
    height:400px;
    
  }

  canvas { 
    width:400px;
    height:400px;
    margin-top: 80px;

  }



  .box {
    height: 115px;
    width: 115px;
  }

  #closePop {
    margin-bottom: 35px;
    padding-top: 10px;
  }

  #greeting,
  #welcomeGreeting {
    margin-top: 10px;
  }

  #new-game {
    margin-top: 80px;
    margin-bottom: 10px;
  }

  #message {
    margin-top: 30px;
  }

 #pop2Msg {
  padding-top: 50px;
 }
 
  
  #playerName {
    float: left;
    padding-right: 20px;
  }
 #player2Name {
  float: right;
  
 }
  
 .center-container {
  margin-top: -80px;
 }

}


#playerboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
}
 
#userDetails {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
