/*This container includes our table and our canvas.*/
body {
  
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
  margin: 0;
}

.center-container {
  
  position: absolute;
  width:408px;
  height:408px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  align-items: center;
}
h1 {
  text-align: center;
  padding-top: 20px;

}
table {
  border-collapse: collapse;
  border-style: hidden;
}

td {
  cursor: pointer;
  border: 8px solid rgba(30, 7, 241, 0.8);
  padding: 0px;
  width: 133px;
  height: 133px;
  background-size: contain;
}

canvas {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  
}

.skull {
  background-image: url(images/x2.png);
}

.pumpkin {
  background-image: url(images/o2.png);
}

.skull,
.pumpkin {
  background-size: cover;
}


#restart {
  font-size: 1.3em;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  border: none;
  position: relative;
  margin: 1.5em auto 0 auto;
  display: block;
}

.popup {
  background: linear-gradient(to bottom right, rgb(0, 145, 255), yellow);
  height: 100%;
  width: 100%;
  position:absolute;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12vmin;
  margin-top: -50px;
}
#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
  margin-top: -50px;
 
}
#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  margin-top: -70px;
}
.popup.hide {
  display: none;
}
/*-------------------------Pop-up Message ------------------*/


.popup2 {
  display: none;
}

.popup2 p {
  font-size: 20px;
  text-align:left;
  margin-left: 20px;
  
}

#closePop
{
  display: block;
  margin: 0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline:none;
  cursor: pointer;
}

#closePop:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



#pop2Msg {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  margin-left: -45px;
  
}

#xoxImage{
  width:200px;
  height:200px;
}

label {
  display: none;
}

#firstPlayerName{
  width:150px;
  height: 20px;
  border-radius: 5px;
}

#userSaveBtn {
  height: 25px;
  border-radius: 5px;
}

.choose:active {
  transform: translateY(2px);
  border-radius: 2px;
}



#greeting {
  margin-left: 20px;
  padding-top: 20px;
}

#playerInfo {
  display: grid;
    grid-template-columns: repeat(2, 50px);
    gap:60px;
    justify-content: center;
    margin:0 5px;
    padding-bottom: 5px;
 
}



.popup2 {
   

  background: linear-gradient(to bottom right, rgb(0, 145, 255), yellow);
  background-color: #8052ec;
  width: 600px;
  padding: 30px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  /* overflow: auto; Enable scroll if needed */
  display: flex;
  border: 1px solid #888;
  
} 
@media (max-width: 500px) {
  .popup2 {
      width: 350px;
      height:400px;
  }
}


#playerboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
 
#userDetails {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

#player1Image {
  width: 50px;
  height: 50px;
}